{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="title" content="Goon">
	<meta property="description" content="¡Descubre Goon, la marca de moda de Laurana Corrales en Madrid! Explora nuestro portfolio para encontrar una colección versátil y única de prendas con estilo. Desde diseños artesanales hasta las últimas tendencias, nuestro portfolio refleja la pasión por la moda y la creatividad de Laurana. Sumérgete en la diversidad de estilos y encuentra la autenticidad en cada detalle. ¡Explora el portfolio de Goon hoy para descubrir moda que se adapta a tu vida!">
	<title>Goon</title>
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png"/>
		{% include "head/css.html" %}
</head>
	<style>
		@font-face {
			font-family: 'art-nuvo';
			src: url('{% static "fonts/art-nuvo.otf" %}');
		}
	</style>
	<body>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
	{% include "components/navbar.html" %}
	{% block content %} {% endblock %}
	</body>
</html>
